:root {
  --main-color: #e74c3c;
}

body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: url("background.jpg") no-repeat;
  background-size: cover;
}

.login-box {
  width: 280px;
  color: #ffffff;
}

.login-box h1 {
  float: left;
  font-size: 40px;
  border-bottom: 6px solid var(--main-color);
  margin-bottom: 50px;
  padding: 13px 0;
}

.textbox {
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid var(--main-color);
}

.textbox input {
  border: none;
  outline: none;
  background: none;
  color: white;
  font-size: 18px;
  width: 80%;
  margin: 0 10px;
}

.btn {
  width: 100%;
  background: none;
  border: 2px solid var(--main-color);
  color: #ffffff;
  font-size: 18px;
  padding: 5px;
  margin: 12px 0;
  cursor: pointer;
  transition: all ease-in-out 0.25s;
}

.btn:hover {
  background: var(--main-color);
  opacity: 0.85;
  transition: all ease-in-out 0.25s;
}
